a.menu-option:hover,
a#sign-out-button:hover {
  color: #c0c0c0;
}

body {
  font-family: Assistant;
}

#main {
  color: black;
  margin-left: 200px;
}

#menu {
  background-color: #008B8B;
  color: white;
  font-size: 25px;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
}

.menu-options {
  padding-top: 20px;
}

.menu-option {
  display: block;
  text-align: center;
  text-decoration: none;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  height: 150px;
  margin: auto;
  width: 150px;
}

#sign-out-button {
  bottom: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-right: 20px;
  position: fixed;
  text-align: right;
  width: 200px;
}
