body {
  font-family: Assistant, sans-serif;
}

#calendar {
  border: 3px solid #ddd;
  max-height: 70%;
  max-width: 1000px;
  width: 100%;
}

.calendar-day {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.calendar-details {
  font-size: 40px;
  font-weight: bold;
}

.calendar-header {
  align-items: center;
  background: linear-gradient(to bottom right, #00ffff, #006666);
  color: white;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.calendar-table {
  background-color: white;
  height: 300px;
  width: 100%;
}

.close-group-form {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}

.day-with-events {
  background-color: #40e0d0;
  color: white;
  cursor: pointer;
}

.event,
.group {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.event-title,
.event-time,
.group-details,
.group-university {
  padding: 20px;
}

.event-title,
.group-university {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0;
}

.event-time,
.group-details {
  font-size: 15px;
  font-style: italic;
  padding-top: 0;
}

#events-container {
  display: inline;
}

#group-form {
  background-color: #008b8b;
  color: white;
  display: none;
  margin: auto;
  max-width: 750px;
  padding: 25px 50px 25px 50px;
  position: relative;
  width: 50%;
}

input {
  border: 3px solid #c0c0c0;
  box-sizing: border-box;
  margin: 6px 0;
  outline: none;
  padding: 12px 20px;
  width: 100%;
}

input:focus {
  background-color: none;
  border: 3px solid #707070;
  outline: none;
}

label {
  font-weight: bold;
}

.main {
  color: black;
  margin-left: 200px;
}

.material-icons {
  cursor: pointer;
}

#menu {
  background-color: #008b8b;
  color: white;
  font-size: 25px;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
}

.menu-option {
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.menu-option:hover,
#sign-out-button:hover {
  color: #c0c0c0;
}

.menu-options {
  padding-top: 20px;
}

.new-group-headline {
  display: flex;
  justify-content: space-between;
}

#open-group-form {
  background-color: #008b8b;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px;
}

#open-group-form:active {
  outline: none;
}

#open-group-form:hover {
  opacity: 1;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  height: 150px;
  margin: auto;
  width: 150px;
}

#selected-day {
  background-color: #008b8b;
}

.submit-group-form {
  background-color: #096b72;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0.8;
  padding: 20px;
  width: 100%;
}

.submit-group-form:active {
  outline: none;
}

.submit-group-form:hover {
  opacity: 1;
}

.sign-out-button {
  bottom: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-right: 20px;
  position: fixed;
  text-align: right;
  width: 200px;
}

td, th {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  text-align: center;
}

th {
  font-size: 25px;
  width: 10%;
}