body {
  font-family: Assistant;
}

.close-group-form {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}

.group {
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.group-details,
.group-university {
  padding: 20px;
}

.group-details {
  font-size: 15px;
  font-style: italic;
  padding-top: 0;
}

#group-form {
  background-color: #008B8B;
  color: white;
  display: none;
  margin: auto;
  max-width: 750px;
  padding: 25px 50px 25px 50px;
  position: relative;
  width: 50%;
}

.group-university {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0;
}

input {
  border: 3px solid #c0c0c0;
  box-sizing: border-box;
  margin: 6px 0;
  outline: none;
  padding: 12px 20px;
  width: 100%;
}

input:focus {
  background-color: none;
  border: 3px solid #707070;
  outline: none;
}

label {
  font-weight: bold;
}

.main {
  color: black;
  margin-left: 200px;
}

#menu {
  background-color: #008B8B;
  color: white;
  font-size: 25px;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
}

.menu-option {
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.menu-option:hover,
#sign-out-button:hover {
  color: #c0c0c0;
}

.menu-options {
  padding-top: 20px;
}

.new-group-headline {
  display: flex;
  justify-content: space-between;
}

#open-group-form {
  background-color: #008B8B;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px;
}

#open-group-form:active,
.submit-group-form:active {
  outline: none;
}

#open-group-form:hover,
.submit-group-form:hover {
  opacity: 1;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  height: 150px;
  margin: auto;
  width: 150px;
}

.submit-group-form {
  background-color: #096B72;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0.8;
  padding: 20px;
  width: 100%;
}

.sign-out-button {
  bottom: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-right: 20px;
  position: fixed;
  text-align: right;
  width: 200px;
}
