body {
  display: table-cell;
  font-family: Assistant, sans-serif;
  vertical-align: middle;
}

body,
html {
  height: 100%;
}

.headline {
  font-size: 70px;
}

html {
  display: table;
  margin: auto;
}

.sign-in-button {
  display: block;
  margin: auto;
}
